<!-- profile.html -->
{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="has-text-right">
      <a href="/logout" class="button is-link float-right">Logout</a>
    </div>
  
    <h1 class="title has-text-centered">
      Welcome {{ request.user.username }}
    </h1>

    <form action="/profile/" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="field">
          <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
          <div class="control">
            {{ field|add_class:"input" }}
          </div>
        </div>
        {% endfor %}

        {{ form.errors }}
        <input class="button is-info" type="submit" value="Submit">
    </form>
  </div>
</section>

{% endblock %}